* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    margin: 2rem 0;
}

.container {
    display: flex;
    flex-direction: column;

    height: 500px;
    width: 350px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.display {
    background-color: #3b3a3a;
    height: 100px;
    margin-bottom: 20px;
    padding-right: 1rem;
    color: #fff;
    font-size: 3.5rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.keypad {
    background-color: #59525c;
    flex: 1;
}
